* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    background: linear-gradient(183.41deg, #67C3F3 -7.77%, #5A98F2 83.77%);
    background-repeat: no-repeat;
}

#frame {
    width: 50%;
    height: auto;
    margin-right: 10%;
    margin-top: 15%;
    float: right;
}

/*Search Form*/
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 1%;
    float: left;
    width: 95%;
    background: #f1f1f1;
    max-width: 25%;
}

.refreshsearch {
    display: none;
    width: 10%;
    margin-left: 1%;
}

form.search button {
    float: left;
    width: 8%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin-top: 12%;
}

#showLocals {
    display: none;
    margin-bottom: 2%;
}

#showActivities {
    display: none;
    margin-bottom: 2%;
}

#moreinfo {
    margin-left: 50%;
    display: none;
    margin-bottom: 2%;
}

#showRegion {
    display: none;
    margin-bottom: 2%;
}

#getInfo {
    float: right;
}

#output {
    margin: 5%;
    background-color: transparent;
}

#output1 {
    margin: 5%;
    background-color: transparent;
}

#output2 {
    margin: 5%;
    background-color: transparent;
}

#output3 {
    margin: 5%;
    background-color: transparent;
}

#output5 {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: transparent;

}

#content {
    display: block;
}

.goodtoknow {
    list-style-type: none;
    margin: 5%;
    width: 92%;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;
    height: 800px;
    margin-left: 15%;
    box-shadow: 0px 2px 6px 2px #0002;
    margin-bottom: 7px;
    margin-top: 7px;
    color: #196EB3;
    font-size: 18px;
}

#goodtoknow {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;
}

.goodtoknow li {
    padding: 1%;
}

.allnews {
    list-style-type: none;
    margin: 5%;
    width: 92%;
}

#allnews {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;
}

.allnews li {
    padding: 1%;
}

.allactivity {
    list-style-type: none;
    margin: 5%;
    width: 92%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;
    height: 800px;
    margin-left: 15%;
    box-shadow: 0px 2px 6px 2px #0002;
    margin-bottom: 7px;
    margin-top: 7px;
    color: #196eb3;
    font-size: 18px;
}

.act-img {
    width: 450px;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
}

#allactivity {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 500px;
}

.allactivity li {
    padding: 1%;
}

.alllocals {
    list-style-type: none;
    margin: 5%;
    width: 92%;
}

#alllocals {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 550px;
}

.alllocals li {
    padding: 1%;
}

.regionlist {
    list-style-type: none;
    margin-left: 7%;
    width: 92%;
}

#regionlist {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 500px;
}

.allmunicipility {
    list-style-type: none;
    margin: 5%;
    width: 92%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 70%;
    height: 500px;
    margin-left: 15%;
    box-shadow: 0px 2px 6px 2px #0002;
    margin-bottom: 7px;
    margin-top: 7px;
    color: #196eb3;
    font-size: 18px;
}


.allmunicipility span,
.regionlist span,
.alllocals span,
.goodtoknow span {
    color: #2196F3;
    font-size: 30px;
    font-weight: 1000;
}

.mun-img {
    width: auto;
    height: 300px;
    padding: 20px;
    position: relative;
}

.regionlist {
    list-style-type: none;
    margin: 5%;
    width: 92%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 200px;
    margin-left: 15%;
    box-shadow: 0px 2px 6px 2px #0002;
    margin-bottom: 7px;
    margin-top: 7px;
    color: #196eb3;
    font-size: 18px;
}

.alllocals {
    list-style-type: none;
    margin: 5%;
    width: 92%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 300px;
    margin-left: 15%;
    box-shadow: 0px 2px 6px 2px #0002;
    margin-bottom: 7px;
    margin-top: 7px;
    color: #196eb3;
    font-size: 18px;
}

#allmunicipility {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;
    margin-left: 500px;
}

.allmunicipility li {
    padding: 1%;
}