* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;

}

body {
    background: linear-gradient(183.41deg, #67C3F3 -7.77%, #5A98F2 83.77%);
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    justify-content: baseline;
    align-items: center;
    align-content: center;

}

.menu button {
    padding-bottom: 30px;
    height: 30px;
    margin-top: 0%;
    background-color: #FFCC2A;
}


#frame {
    width: 50%;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    float: right;
}

.search {
    background-color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    background-color: white;
}

.search::placeholder {
    color: #7378c5;
}

.container {
    margin-top: 10%;
}

#showLocals {
    display: none;
    margin-bottom: 2%;
}

#showActivities {
    display: none;
    margin-bottom: 2%;
}

#showRegion {
    display: none;
    margin-bottom: 2%;
}

#getInfo {
    float: right;
}

.refreshsearch {
    float: left;
    display: none;
    margin-bottom: 1%;

}

#output {
    margin: 5%;
    background-color: transparent;
}

#output1 {
    margin: 5%;
    background-color: transparent;
}

#output2 {
    margin: 5%;
    background-color: transparent;
}

#output3 {
    margin: 5%;
    background-color: transparent;
}

#content {
    display: block;
}

/*.ullist {
    list-style-type: none;
    font-size: 100%;
    font-weight: 900;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: #FFCC2A;
    width: 40%;
    padding: 1%;
}*/



.goodtoknow {
    list-style-type: none;
    margin: 5%;
    width: 92%;
}

#goodtoknow {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;

}

.goodtoknow li {

    padding: 1%;
}




.allnews {
    list-style-type: none;
    margin: 5%;
    width: 92%;

}

#allnews {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;

}

.allnews li {

    padding: 1%;
}




.allactivity {
    list-style-type: none;
    margin: 5%;
    width: 92%;

}

#allactivity {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;

}

.allactivity li {

    padding: 1%;
}




.alllocals {
    list-style-type: none;
    margin: 5%;
    width: 92%;

}

#alllocals {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;

}

.alllocals li {

    padding: 1%;
}




.regionlist {
    list-style-type: none;
    margin-left: 7%;
    width: 92%;


}

#regionlist {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 7%;
    margin-bottom: 5%;

}




.allmunicipility {
    list-style-type: none;
    margin: 5%;
    width: 92%;

}

#allmunicipility {
    font-weight: 900;
    color: #FFCC2A;
    margin-left: 6%;

}

.allmunicipility li {

    padding: 1%;
}